
/***************************** Custom Properties ****************************/

.reset {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px!important;
  font-weight: 400;
}

.brand {
  text-align: center;
  margin: 0px auto;
}

.brand__logo {
  color:rgba(0, 0, 0, 0.87);
  font-family: 'Great Vibes', cursive;
  font-size: 5.538461538461538rem;
  font-weight: bold;
  letter-spacing: 0.125em;
  line-height: 1;
}
.brand__slogan {
  font-size: 1.153846153846154rem!important;
  line-height: 1;
  padding-top: .5rem;
}

.appbar {
  font-size: 1.538461538461538em!important;
  font-weight: 500;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87);
}
.appbar__logo {
  font-size: 1.538461538461538em!important;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87);
}

.btn {
    font-size: 1.076923076923077em!important;
    font-weight: 500;
    text-transform: uppercase;
}
